.vs/IdentityServerAngularImplicitFlow/v14/.suo
AngularGoogleClient/.sass-cache
AngularGoogleClient/bin
packages/IdentityModel.1.0.0/lib
AngularGoogleClient/bower_components
AngularGoogleClient/node_modules

.vs/config/applicationhost.config
.vs/restore.dg
/.vs
/AngularGoogleClient/angularApp/**/*.js
/AngularGoogleClient/angularApp/**/*.js.map
/AngularGoogleClient/obj
/AngularGoogleClient/wwwroot/dist
/AngularGoogleClient/AngularGoogleClient.csproj.user
